TurnstileSimulator/TurnstileObserver/TurnstileObserver/Service References/TurnstileService/ServiceVisit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51764/ServiceVisit.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TurnstileWcfService" />
  <xs:element name="CheckValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="permitId" type="xs:int" />
        <xs:element minOccurs="0" name="enterType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckValidationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllVisitors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllVisitorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TurnstileWcfService" minOccurs="0" name="AllVisitorsResult" nillable="true" type="q1:ArrayOfVisitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>