TurnstileSimulator/TurnstileObserver/TurnstileObserver/Service References/TurnstileService/ServiceVisit2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TurnstileWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TurnstileWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVisitor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Visitor" nillable="true" type="tns:Visitor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisitor" nillable="true" type="tns:ArrayOfVisitor" />
  <xs:complexType name="Visitor">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermitId" type="xs:int" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Visits" nillable="true" type="tns:ArrayOfVisit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Visitor" nillable="true" type="tns:Visitor" />
  <xs:complexType name="ArrayOfVisit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Visit" nillable="true" type="tns:Visit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisit" nillable="true" type="tns:ArrayOfVisit" />
  <xs:complexType name="Visit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="VisitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VisitType" type="xs:int" />
      <xs:element minOccurs="0" name="Visitor_Id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Visit" nillable="true" type="tns:Visit" />
</xs:schema>